{% include 'base.html' %}
{% include 'navigation.html' %}

<style>
    p {
    font-size: 30px;
    text-align: center;
    text-justify: inter-word;
    }
    p.textaa{
        color: rgb(0, 140, 255);
    }
</style>

    <div class="container">
    
        <hr><h1 class="text-center">About us</h1>
        <p>Pulse Hospitals is renowned as one of the leading healthcare providers in Sri Lanka today. In a journey extending over three and a half decades so far, we have expanded our medical-facility network considerably to now include inpatient and outpatient care facilities, laboratories and sample collection centers, pharmacies, and medical imaging units. Pulse’s distinct healthcare offering is modelled on our patient-focused approach, affordability, accessibility, as well as the comprehensive facilities and high-quality medical expertise on offer. Our presence in several key locations across the island allows us to consistently deliver on our promise of providing quality affordable healthcare for all Sri Lankans.</p>
        </div>
    
    </div>


