{% include 'base.html' %}
{% include 'navigation.html' %}

<style>
    p {
    font-size: 30px;
    text-align: center;
    text-justify: inter-word;
    }
    p.textaa{
        color: rgb(0, 140, 255);
    }
</style>

    <div class="container">
    
        <hr><h1 class="text-center">About us</h1>
        <p>Over the last 30 years Pulse Hospitals has built a reputation for accuracy and dependability. Using the most modern, fast and accurate analysers in the world, Asiri Laboratories conducts internal quality control on all its machines daily. It also ensures external quality control by working closely with a reputed international laboratories. All this means faster and reliable results for all your medical tests.</p>
        
        </div>
    
    </div>


