{% include 'base.html' %}
{% include 'navigation.html' %}


<h1>Contact Us</h1>

{% block content %}
<style>
    p.txt1 {
    font-size: 28px;
    text-align: center;
    text-justify: inter-word;
    }
    p {
    font-size: 25px;
    text-align: center;
    text-justify: inter-word;
    }
    .ha1{
        color: rgb(248, 31, 255);
    }
</style>

    <div class="container">
    
        <h1 class="text-center">Contact us</h1>
        
        <p class="txt1">To know about our other services and to report any issue you faced please contact us using following contact details</p>
        
        <p>To report a technical issue : pulsehospial@gmai.com</p>
        <p>To report a delivery issue : pulsehospial@gmail.com</p>
        <p>To resend the item : pulsestartup@gmail.com </p>
        <p>Hotline : 0112 3231 132</p>
        <p class="textaa">pulseStartup&trade;</p>


        </div>
    
    </div>
{% endblock content %}